html
  head
    title Rozgaar
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='static/css/stylesheet.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans|Sansita')
    script(type='text/javascript', src='http://api.bridgeit.mobi/bridgeit/bridgeit.js')
  body
   div.header
    img.logo(src="/static/img/icon")
    h1.logo= title
    div
      form.right(method='POST', action="/searchUser")
        input.form-control.button.header-button(type="submit", value="Workers", id="go", href='#')
      form.right(method='POST', action="/home")
        input.form-control.button.header-button(type="submit", value="Home", id="go", href='#')
   br
   div.container
    block content
