extends layout-login.pug

block content
    h2.subtitle Search MNREGA Worker
    form#qr(method='POST', action="")
      h2 Scan the QR code of JOBCARD
      br
      div
        video(autoplay="true" id="videoElement")
      br
    form(method='POST', action="/search")
      h2.workerinfo OR
      br
      input.form-control.text-field(name="jobNo", type="text", placeholder="Enter JOBCARD NUMBER")
      br
      br
      input.form-control.button(type="submit", value="SEARCH USER", id="go")


      script
        include ../public/js/webcam.js
