body{
  background-color: #27ae60 !important;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  color: #243e16;
  font-family: 'Sansita', sans-serif;
}

form {
    width: 413px;
    margin: auto auto;
}

.text-field{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #355723;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
  transition: all 0.3s;
}
.text-field:focus{
  -webkit-box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.48);
  -moz-box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.48);
  box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.48);
}

.button {
    background-color: #243e16; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s;

}
.button:hover{
  background-color: #355723;
  transition: active 0s;
}
.button:active{
  -webkit-box-shadow: inset 0px 0px 43px -12px rgba(26,38,25,1);
  -moz-box-shadow: inset 0px 0px 43px -12px rgba(26,38,25,1);
  box-shadow: inset 0px 0px 43px -12px rgba(26,38,25,1);
}

.submit-button{
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
}
