extends ../layout-login.pug

block content
      div
        form#qr(method='POST', action="")
          h2 Scan the QR code of ADHAAR CARD
          br
          div
            video(autoplay="true" id="videoElement")
          br
        form(method='POST', action="/scan")
          input.form-control.button(type="submit", value="SCAN", id="go")

      script
        include ../../public/js/webcam.js
