extends ../layout-login.pug

block content

      script
        include ../../public/js/lib/jquery-1.7.2.min.js

      script
        include ../../public/js/lib/jsqrcode/grid.js
      script
        include ../../public/js/lib/jsqrcode/version.js
      script
        include ../../public/js/lib/jsqrcode/detector.js
      script
        include ../../public/js/lib/jsqrcode/formatinf.js
      script
        include ../../public/js/lib/jsqrcode/errorlevel.js
      script
        include ../../public/js/lib/jsqrcode/bitmat.js
      script
        include ../../public/js/lib/jsqrcode/datablock.js
      script
        include ../../public/js/lib/jsqrcode/bmparser.js
      script
        include ../../public/js/lib/jsqrcode/datamask.js
      script
        include ../../public/js/lib/jsqrcode/rsdecoder.js
      script
        include ../../public/js/lib/jsqrcode/gf256poly.js
      script
        include ../../public/js/lib/jsqrcode/gf256.js
      script
        include ../../public/js/lib/jsqrcode/decoder.js
      script
        include ../../public/js/lib/jsqrcode/QRCode.js
      script
        include ../../public/js/lib/jsqrcode/findpat.js
      script
        include ../../public/js/lib/jsqrcode/alignpat.js
      script
        include ../../public/js/lib/jsqrcode/databr.js

      script
        include ../../public/js/qr.js
      script
        include ../../public/js/camera.js
      script
        include ../../public/js/init.js

      div
        div.left
          h2 Scan the QR code of ADHAAR CARD
          br
          div
            video#camsource(autoplay width="320" height="240")
            canvas#qr-canvas(width="320" height="240" style="display:none")
          br
          input.form-control.button(type="submit", value="SCAN Adhaar", id="scan1", href='#')
          input.form-control.button(type="submit", value="SCAN JOBCARD", id="scan2", href='#', style="display:none")
        form.right(method='POST', action="/createUser")
          input.form-control.text-field(id="name", name="name", type="text", placeholder="Full Name", width="100%", disabled)
          br
          br
          input.form-control.text-field(id="adhaarNo", name="adhaarNo", type="text", placeholder="ADHAAR CARD number", disabled)
          br
          br
          input.form-control.text-field(id="gp", name="gp", type="text", placeholder="Gram Panchayat", width="100%", disabled)
          br
          br
          input.form-control.text-field(id="JobNo", name="JobNo", type="text", placeholder="JOBCARD Number", width="100%", disabled)
          br
          br
          input.form-control.text-field(name="mobile", type="text", placeholder="ENTER Mobile Number", width="100%")
          br
          br
          br
          input.form-control.button.disabled(type="submit", value="PROCEED", id="proceed", href='#', disabled)


      script
        include ../../public/js/script.js
